{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
	<div 	class="container">
  {% for a in chap %}
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs row" data-aos="fade-in">
				<h2>{{a.title}}</h2>
				<p>{{a.description}}
				</p>
			
		</div>
		<!-- End Breadcrumbs -->

		<!-- ======= Features Section ======= -->
		<section id="features" class="features">
			<div data-aos="fade-up">
					<div class="row" data-aos="zoom-in" data-aos-delay="100">
						<div class="col-md-6 col-lg-6 mt-4">
							<div class="icon-box">
								<i class="niveau" style="color: dark;">{{a.cours.niveau.niveauTitle}}</i>
								<h3>
									<a href="{{ path('app_show',{id: a.id, slug:  a.slug}) }}">{{a.title}}</a>
								</h3>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 mt-4">
							<div class="icon-box">
								<i class="niveau" style="color: dark;">{{a.cours.niveau.niveauTitle}}</i>
								<h3>
									<a href="{{ path('app_show',{id: a.id, slug:  a.slug}) }}">{{a.title}}</a>
								</h3>
							</div>
						</div>
					</div>
				
			</div>
      {% endfor %}
		</section>
		<!-- End Features Section -->
	</div>

{% endblock %}
