{% extends 'base.html.twig' %}

{% block title %}new
{% endblock %}
{% block body %}
	<div class="container" id="form" style="margin-top:100px">
		<h2 class="text-center">Ajouter un Chapitre</h2>
		{{form_start(form)}}
		<div class="form-group mt-2">
			{{ form_row(form.title) }}
		</div>
		<div class="form-group mt-2">
			{{ form_row(form.description) }}
		</div>
		
		<div class="form-row mt-2">
			{{ form_row(form.documentExtension) }}
		</div>
		<div class="form-row mt-2">
			{{ form_row(form.videoExtension) }}
		</div>

		<div class="col-md-4 form-group mt-2">
			<div class="form-check">

				{{ form_row(form.isAvailable) }}
			</div>
		</div>
		<button type="submit" class="btn btn-primary mt-2">{{button|default('Envoyer')}}</button>
		{{form_end(form)}}
	</div>

{% endblock %}
